/* .btn-next {
    background: #F9A349;
    color: white;
    padding: 15px;
}
.mb-80 {
    margin-bottom:80px;
}*/
.steps {
    display: block;
    background: url('../../assets/1.svg') no-repeat;
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    background-size: 80% 80%;
    background-position: center center;
}/*
.form-control:focus {
    border-color: #40B1DF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-group > input, .form-group > textarea {
    height: 54px;
    padding: 0px 12px;
    font-size: 22px;
    line-height: 1.52857143;
    border: 1px solid #743D85;
}
.form-group > select {
    background-color: white;
    border: 1px solid #743D85;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    height: 54px;
    padding: 0px 12px;
    font-size: 22px;
    line-height: 1.52857143;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-group > select {
    background-image:
            linear-gradient(45deg, transparent 50%, #743d85 50%),
            linear-gradient(135deg, #743d85 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}
select:focus {
    background-image:
            linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
} */
.has-error input{
    border-left: 5px solid #a94442; /* red */
}
.has-error label, span.has-error{
    color: #a94442; /* red */
}