<div class="col-md-12">
    <div class="container">
        <div class="col-md-12">
            <div class="steps"></div>
        </div>
        <div class="col-md-12">
            <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()" name="formCadastro">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 text-center">
                        <h3>Dados Corporativos</h3>
                        <span *ngIf="!(formCadastro.invalid && (formCadastro.dirty || formCadastro.touched ))">*Todos os campos são obrigatórios</span>
                        <span *ngIf="formCadastro.invalid  && ( formCadastro.dirty || formCadastro.touched ) " class="has-error">*Todos os campos são obrigatórios</span>

                        <br>
                        <br>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('NomeFantasia')">
                            <label class="text-muted" for="NomeFantasia">Nome Fantasia:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" id="NomeFantasia"  formControlName="NomeFantasia">
                            <!-- <label class="text-muted" for="" *ngIf="NomeFantasia.invalid  && ( NomeFantasia.dirty || NomeFantasia.touched ) "><small>Name is required</small></label> -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('RazaoSocial')">
                            <label class="text-muted" for="RazaoSocial">Razão Social:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" id="RazaoSocial" formControlName="RazaoSocial">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('CNPJ')">
                            <label class="text-muted" for="CNPJ">CNPJ:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>                            <input type="text" class="form-control" [(ngModel)]="formCadastro.CNPJ" cpfcnpj id="CNPJ" formControlName="CNPJ">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Telefone')">
                            <label class="text-muted" for="Telefone">Telefone:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" [(ngModel)]="formCadastro.Telefone" id="Telefone" appTelefone formControlName="Telefone">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group" [ngClass]="aplicaCssErro('Site')">
                            <label class="text-muted" for="Site">Site:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>                            <input type="text" class="form-control" id="Site" formControlName="Site" pattern="^((?:(https?):\/\/)?((?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[0-9][0-9]|[0-9])\.(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[0-9][0-9]|[0-9])\.)(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[0-9][0-9]|[0-9])\.)(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[0-9][0-9]|[0-9]))|(?:(?:(?:\w+\.){1,2}[\w]{2,3})))(?::(\d+))?((?:\/[\w]+)*)(?:\/|(\/[\w]+\.[\w]{3,4})|(\?(?:([\w]+=[\w]+)&)*([\w]+=[\w]+))?|\?(?:(wsdl|wadl))))$">
                        </div>
                    </div>

                    
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 text-center">
                        <h3>Dados do Responsável</h3>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('NomeCompleto')">
                            <label class="text-muted" for="NomeCompleto">Nome completo:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="NomeCompleto" id="NomeCompleto" pattern="([a-zA-Z\u00C0-\u00D6\u00D8-\u00DE])([a-zA-Z\u00DF-\u00F6\u00F8-\u00FF '&-]+) ([A-Za-z\u00C0-\u00D6\u00D8-\u00DE\u00DF-\u00F6\u00F8-\u00FF '&-]+)">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Cargo')">
                            <label class="text-muted" for="Cargo">Cargo:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Cargo" id="Cargo">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('TelefoneFixo')">
                            <label class="text-muted" for="TelefoneFixo">Telefone:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="TelefoneFixo" [(ngModel)]="TelefoneFixo" appTelefone id="TelefoneFixo">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Celular')">
                            <label class="text-muted" for="Celular">Celular:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Celular" [(ngModel)]="Celular" appTelefone id="Celular">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group" [ngClass]="aplicaCssErro('Email')">
                            <label class="text-muted" for="Email">Email:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="email" class="form-control" formControlName="Email" id="Email">
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 text-center">
                        <h3>Endereço</h3>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="aplicaCssErro('CEP')">
                            <label class="text-muted" for="CEP">CEP:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>                            <input type="text" class="form-control" formControlName="CEP" (blur)="consultaCep($event.target.value)" id="CEP">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group" [ngClass]="aplicaCssErro('Endereco')">
                            <label class="text-muted" for="Endereco">Endereço:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Endereco" id="Endereco">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="aplicaCssErro('Numero')">
                            <label class="text-muted" for="Numero">Número:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Numero" id="Numero">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group" [ngClass]="aplicaCssErro('Complemento')">
                            <label class="text-muted" for="Complemento">Complemento:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Complemento" id="Complemento">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Bairro')">
                            <label class="text-muted" for="Bairro">Bairro:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Bairro" id="Bairro">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Cidade')">
                            <label class="text-muted" for="Cidade">Cidade:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Cidade" id="Cidade">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('UF')">
                            <label class="text-muted" for="UF">UF:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>                            <input type="text" class="form-control" formControlName="UF" id="UF">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Pais')">
                            <label class="text-muted" for="Pais">País:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>                            <input type="text" class="form-control" formControlName="Pais" id="Pais">
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 text-center">
                        <h3>Dados Bancários</h3>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Banco')">
                            <label class="text-muted" for="Banco">Banco:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <select class="form-control" formControlName="Banco" id="Banco">
                                <option value="{{banco.id}}" *ngFor="let banco of bancos">{{banco.numero}} {{banco.nome}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="aplicaCssErro('Agencia')">
                            <label class="text-muted" for="Agencia">Agência:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Agencia" id="Agencia">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="aplicaCssErro('Conta')">
                            <label class="text-muted" for="Conta">Conta:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="Conta" id="Conta">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group" [ngClass]="aplicaCssErro('ContaDV')">
                            <label class="text-muted" for="ContaDV">Digito da Conta:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            <input type="text" class="form-control" formControlName="ContaDV" id="ContaDV">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 mb-80">
                <div class="col-md-4 col-md-offset-4">
                    <button [disabled]="formCadastro.invalid" routerLink="/cadastro-2" class="btn btn-block btn-next" (click)="onSubmit()">Avançar</button>
                </div>
                
            </div>
        </form>
        </div>
    </div>
</div>
