<div class="col-md-12">
  <div class="container">
      <div class="col-md-12">
          <div class="steps"></div>
      </div>
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="col-md-12 text-center">
                      <h3>Detalhes da Academia</h3>
                  </div>

                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="text-muted" for="descricao">Descrição:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                          <textarea type="text" class="form-control" style="height: 150px;" id="descricao"></textarea>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                          <label class="text-muted" for="banco">Categoria:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                          <select class="form-control" id="banco">
                              <option *ngFor="let categoria of categorias" >{{ categoria.nome }}</option>
                          </select>
                      </div>
                  </div>

                  <div class="col-md-12 no-padding">
                      <div class="col-md-6">
                          <button class="btn btn-block btn-intro" data-toggle="modal" data-target="#modalModalidades">Selecionar modalidades</button>

                          <div class="box-mod">
                              <label>Modalidades adicionadas:</label>
                              <div class="box-mod-content">
                                  <ul>
                                      <li *ngFor="let modalidadeSelecionada of modalidadesSelecionadas" value="{{modalidadeSelecionada.id}}">{{ modalidadeSelecionada.nome }}</li>   
                                  </ul>
                              </div>
                          </div>

                      </div>
                      <div class="col-md-6">
                          <button class="btn btn-block btn-intro" data-toggle="modal" data-target="#modalInfra">Selecionar infraestrutura</button>

                          <div class="box-mod">
                              <label>Categorias adicionadas:</label>
                              <div class="box-mod-content">
                                  <ul>
                                      <li *ngFor="let categoriaSelecionada of categoriasSelecionadas">{{ categoriaSelecionada }}</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12 no-padding">
                      <div class="col-md-6">
                          <button class="btn btn-block btn-intro">Upload</button>
                      </div>
                      <div class="col-md-6">
                          <button class="btn btn-block btn-intro">Montar Agenda</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="col-md-12 text-center">
                      <h3>Imagens da academia</h3>
                      <h5>Máximo 12 imagens</h5>
                    </div>

                    <div class="col-md-12">
                        <div *ngFor="let imagemAcademia of imagensAcademia">  
                                <img [src]="academia.image">
                                
                        </div>  
                        <div class="col-md-2 image-box" (click)="show" data-toggle="modal" data-target="#editImagem">
                            <input type="file" name="imagens[]" style="display: none" id="file">
                            <span>
                                <i class="material-icons">add_to_photos</i>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <h3>Logo da academia</h3>
                    </div>

                  <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-7 image-box">
                          <input type="file" name="imagens[]" style="display: none" id="file">
                          <span>
                              <i class="material-icons">add_to_photos</i>
                          </span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="col-md-12 text-center">
                      <h3>Banner</h3>
                      <h5>Máximo 3</h5>
                  </div>

                  <div class="col-md-12">
                      <div class="col-md-2 image-box">
                          <input type="file" name="imagens[]" style="display: none" id="file">
                          <span>
                              <i class="material-icons">add_to_photos</i>
                          </span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-12 mb-80">
              <div class="col-md-4 col-md-offset-2">
                  <a routerLink="/cadastro" class="btn btn-block btn-intro">Voltar</a>
              </div>
              <div class="col-md-4">
                  <a routerLink="/cadastro-3" class="btn btn-block btn-next">Avançar</a>
              </div>
          </div>
      </div>
  </div>
</div>


<div id="editImagem" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Editar Imagem</h4>
          </div>
          <div class="modal-body">
              <div class="img-container">
                  <div class="row">
                      <div class="col-md-12" class="cropper">
                            <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="col-md-6 col-md-offset-3">
                              <div class="col-md-1 pull-left">
                                  <button type="button" class="btn btn-default">
                                      <i class="material-icons">remove_circle</i>
                                  </button>
                              </div>
                              <div class="col-md-1 pull-right">
                                  <button type="button" class="btn btn-default">
                                      <i class="material-icons">add_circle</i>
                                  </button>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal" >Excluir</button>
              <button type="button" class="btn btn-default pull-left">Alterar</button>
              <button type="button" class="btn btn-default pull-rigth" data-dismiss="modal" >Cancelar</button>
              <button type="button" class="btn btn-default pull-right">Aplicar</button>
          </div>
      </div>
  </div>
</div>


<!-- Modal Infra -->
<div class="modal fade" id="modalInfra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Selecionar infraestrutura</h4>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-muted"> Infraestrutura&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Pesquisar" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="text-muted">Infraestrutura&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                <div class="box-para-selecionar">
                                    <ul class="list-group">
                                        <li  *ngFor="let infra of infra" class="lista" (click)="onAddCategoria(infra.nome)" >{{infra.nome}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="text-muted">Categorias adicionadas</label>
                                <div class="box-selecionadas">
                                    <ul class="list-group">
                                        <li *ngFor="let categoriaSelecionada of categoriasSelecionadas" class="lista" (click)="onRemoveCategoria(categoriaSelecionada)"><button type="button" class="remove" aria-hidden="true">&times;</button>{{ categoriaSelecionada }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-block btn-next" data-dismiss="modal" >Avançar</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-next" data-dismiss="modal" >Avançar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal Modalidades -->
<div class="modal fade" id="modalModalidades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h4 class="tituloModal">Selecionar modalidades</h4>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="text-muted"> Tipo &nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-top:20px;">
                                        <select class="form-control">
                                            <option *ngFor="let tipo of tipos" class="">{{ tipo.nome }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group" style="margin-top: 20px !important">
                                            <input type="text" placeholder="Pesquisar" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="text-muted">Modalidades&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                    <div class="box-para-selecionar">
                                        <ul class="lista">
                                            <li  *ngFor="let modalidade of modalidades, index as i" (click)="onAddModalidade(modalidade)" class="lista-modalidade" >
                                                <div>{{ modalidade.nome }}</div></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="text-muted">Modalidades adicionadas</label>
                                    <div class="box-selecionadas">
                                        <ul class="lista">
                                            <li *ngFor="let modalidadeSelecionada of modalidadesSelecionadas" class="lista-modalidades-selecionadas" (click)="onRemoveModalidade(modalidadeSelecionada)"><button type="button" class="remove" aria-hidden="true">&times;</button>{{ modalidadeSelecionada.nome }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-intro" data-dismiss="modal" >Voltar</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-next" data-dismiss="modal" (click)="postModalidades(modalidadesSelecionadas.id)">Avançar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->