.btn-next {
    background: #F9A349;
    color: white;
    padding: 15px;
}
.btn-intro {
    background-color: #7E3A9A;
    color: white;
    padding: 15px;
}
.btn-intro:hover {
    background-color: #662c7e;
    color: white;
}
.modal .modal-dialog {
    width: 80%;
}
.box-selecionadas{
    background-color: #f2f2f2;
    height: 250px;
    margin-bottom: 50px;
}
.box-para-selecionar{
    border: 1px solid #f2f2f2;
    height: 250px;
    margin-bottom: 50px;
}
.lista{
    list-style-type: none;
    color: #7E3A9A;
    margin: 0 10px;
    cursor:pointer;
}
li:hover{
    background-color: #f2f2f2;
}
.tituloModal{
    color: #F9A349;
}
.remove{
    border: none;
    background-color: #f2f2f2;
    color: #F9A349;
}
ul{
    padding-left: 5px;
    margin: 0;
    height: 250px;
    overflow:hidden;
}