div.home {
    width: 100%;
    height: 100%;
    background-size: auto auto;
    background-size: 30% 50%;
    background-image: url("../../assets/bg_top_right.png"), url("../../assets/bg_top_right_crud.png");
    background-repeat: no-repeat;
    background-position-x: right, left;
    background-position-y: top, bottom;
}
h4.text-intro {
    padding:50px;
    color: #7E3A9A;
}
.btn-intro {
    background-color: #7E3A9A;
    color: white;
    padding: 15px;
}
.btn-intro:hover {
    background-color: #662c7e;
    color: white;
}