body{
    background-color: #F2F2F2;
}

body:before {
    position: absolute;
    top: 0;
    content: " ";
    margin: 2px;
    float: right;
    right: 0;
    width: 100%;
    height: 100%;

}

h3 {
    color: #F9A349;
    font-weight: 700;
    font-size: 20px;
}

body.home:before {
    width: 30%;
    height: 50%;
    background: url('/images/bg_top_right.png');
    background-size: auto auto;
    background-size: 100% 100%;
}

body.cadastro:before {
    width: 20%;
    height: 30%;
    background: url('/images/bg_top_right_crud.png');
    background-size: auto auto;
    background-size: 100% 100%;
}

.panel-body {
    padding: 15px 85px;
}

h4.text-intro {
    padding:50px;
    color: #7E3A9A;
}

.btn-intro {
    background-color: #7E3A9A;
    color: white;
    padding: 15px;
}

.btn-intro:hover {
    background-color: #662c7e;
    color: white;
}

img.logo {
    max-width: 200px;
}

.navbar {
    background: transparent;
    min-height: 115px;
    border-bottom: 6px solid; 
    border-bottom-color: #3da5d1;  /*Old browsers */
    border-bottom-color: -moz-linear-gradient(left, #3da5d1 0%, #7e3d9b 100%); /*FF3.6-15 */
    border-bottom-color: -webkit-linear-gradient(left, #3da5d1 0%,#7e3d9b 100%); /*Chrome10-25,Safari5.1-6*/
    border-bottom-color: linear-gradient(to right, #3da5d1 0%,#7e3d9b 100%); /*W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

 .steps {
    background: url('../assets/step.png') no-repeat;
    width: 100%;
    height: 150px;
    background-size: 80% 80%;
    background-position: center center;
}

.form-group > input, .form-group > textarea {
    height: 54px;
    padding: 0px 12px;
    font-size: 22px;
    line-height: 1.52857143;
    /* border: 1px solid #743D85; */
}

.form-group > select {
    background-color: white;
    border: 1px solid #743D85;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    height: 54px;
    padding: 0px 12px;
    font-size: 22px;
    line-height: 1.52857143;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group > select {
    background-image:
            linear-gradient(45deg, transparent 50%, #743d85 50%),
            linear-gradient(135deg, #743d85 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
            linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}


.form-control:focus {
    border-color: #40B1DF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

label {
    font-weight: 600;
}

.btn-next {
    background: #F9A349;
    color: white;
    padding: 15px;
}

.mb-80 {
    margin-bottom:80px;
}

.no-padding{
    padding:0;
}

.box-mod{
    padding: 25px 0;
}

.box-mod-content{
    background-color: #F2F2F2;
    padding:5px;
}

.box-mod-content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #7E3A9A;
    font-weight: 600;
}

.image-box{
    padding:10px;
    background: #f6f6f6;
    border:2px solid #7E3A9A;
    height:160px;
    width: 160px;
    border-radius:8px;
    margin: 5px;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
}

.image-box:hover{
    background: #aaaaaa;
    border:2px solid #b74edc;
}


.image-box > span > i {
    top: 50px;
    position: relative;
    color: #a2a2a2;
}

.image-box:hover > span > i {
    color: #7E3A9A;
}

.cropper-container {
    max-width: 100% !important;
}

.form-panel {
    padding: 0 50px;
    color: #7E3A9A;
    font-weight: 600;
}

span.info-text {
    color: #40B1DF;
    font-weight: 600;
}

.form-control[readonly] {
    height: 54px;
    padding: 0px 12px;
    font-size: 22px;
    line-height: 1.52857143;
    border: none;
}
.cropper{
    margin-left: 18%;
}
.cropper button{
    border: none;
}
.padding-vertical{
    padding: 50px 0;
}
.modal-footer{
    background-color: white;
    border-top: none!important;
}
.btn-intro-sem-padding {
    background-color: #7E3A9A;
    color: white;
}

.btn-intro-sem-padding:hover {
    background-color: #662c7e;
    color: white;
}