
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">
                <img src="../assets/logo.png" class="logo" alt="">
            </a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
