button.exclui-plano{
    float: right;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: -35px;
    margin-right: -35px;
    color: rgba(70, 87, 245, 0.64);
    font-size: 32px;
}
button.editar-plano{
    background-color: rgba(70, 87, 245, 0.64);
    color: white;
    font-size: 24px;
}
.plano-panel {
    color: #7E3A9A;
    font-weight: 600;
}
h4{
    color: #424242;
    
}
#confirmacao .modal-content{
    margin-top:35%;
}
#confirmacao .modal-body{
    padding:35px;
}
