<div class="col-md-12">
    <div class="steps"></div>
</div>
<div class="col-md-12">
    <div class="container" #f="ngForm" [formGroup]="formModalidade">
        <div class="intro-text">
          <div class="panel panel-default">
              <div class="panel-body">
                  <h4 class="text-intro">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      <br>
                      <br>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </h4>
                    <div *ngIf="!plano">
                        <div class="form-group form-panel">
                            <div class="checkbox">
                                <label>
                                    <input type="radio" 
                                        name="modalidade" 
                                        [(ngModel)]="modalidade" 
                                        value="uniqueValue" 
                                        [ngModelOptions]="{standalone: true}"
                                
                                    >
                                    
                                    Atribuir um único valor à todas as modalidades oferecidas 
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-panel">
                            <div class="checkbox">
                                <label>
                                    <input type="radio" 
                                    name="modalidade" 
                                    [(ngModel)]="modalidade" 
                                    formControlName="modalidade"
                                    value="valueCompose">
                                    Atribuir valores diferentes para modalidades diferentes
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button *ngIf="modalidade != 'uniqueValue' && modalidade != 'valueCompose'" disabled data-toggle="modal" data-target="#uniqueValue" class="btn btn-lg btn-intro col-md-6 col-md-offset-3">Adicionar plano</button>
                                <button *ngIf="modalidade == 'uniqueValue'"  data-toggle="modal" data-target="#uniqueValue" class="btn btn-lg btn-intro col-md-6 col-md-offset-3">Adicionar plano</button>
                                <button *ngIf="modalidade == 'valueCompose'"  data-toggle="modal" data-target="#valueCompose" class="btn btn-lg btn-intro col-md-6 col-md-offset-3">Adicionar plano</button>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
      <div class="intro-text">
            <div class="panel panel-default">
                <div class="panel-body">
                        
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3>Planos adicionados</h3>
                        </div>
                    </div>
                    <div class="row"> 
                        <div *ngFor="let plano of planos" class="col-md-4">
                            <div class="well plano-panel">
                                <button class="exclui-plano" (click)="deletaPlano(plano.tipoPlanoId.value)">
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                </button>
                                <h4>Modalidades</h4>
                                <p *ngFor="let modalidadeDoPlano of plano.modalidades">{{modalidadeDoPlano}}</p>
                                <br>
                                <h4>Mensalidade</h4>
                                <p>R$ {{plano.ValorMensal}}</p>
                                <br>
                                <h4>Valor por visita</h4>
                                <p>R$ {{plano.ValorVisita}}</p>
                                <button class="btn btn-block editar-plano" (click)="editaPlano()">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-md-12 mb-80">
        <div class="col-md-4 col-md-offset-2">
            <a routerLink="/cadastro" class="btn btn-block btn-intro">Voltar</a>
        </div>
        <div class="col-md-4">
            <a routerLink="/cadastro-4" data-toggle="modal" class="btn btn-block btn-next">Avançar</a>
            <!-- <a *ngIf="modalidade.value != 'valueCompose' || 'uniqueValue'" disabled class="btn btn-block btn-next">Avançar</a> -->
        </div>
      </div>
  </div>
</div>


<div id="uniqueValue" class="modal fade" role="dialog">
    <form [formGroup]="formUnico" (ngSubmit)="onSubmit()" name="formUnico">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Informações do plano</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted" for="mensalidade">Valor da mensalidade:&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="ValorMensal" 
                                    formControlName="ValorMensal"
                                    name="ValorMensal"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-muted" for="valor">Valor por visita&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="ValorVisita"
                                    formControlName="ValorVisita"
                                    name="ValorVisita"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span class="info-text">
                                    Adicionar plano com este valora receber para cada visita em sua academia, 53,70% dos usuários acadastrados na plataforma estarão aptos a frequentar seu estabelecimento
                                </span>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block btn-intro pull-left" data-dismiss="modal">Voltar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block pull-right btn-next" data-dismiss="modal" routerLink="/cadastro-4" [disabled]="formUnico.invalid">Adicionar plano</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





<div id="valueCompose" class="modal fade" role="dialog">
    <form [formGroup]="formDiferentes" (ngSubmit)="onSubmit()" name="formDiferentes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Informações do plano</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h4 class="tituloModal">Selecionar modalidades</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="text-muted"> Tipo &nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-top:20px;">
                                        <select class="form-control" formControlName="tipoPlanoId" [(ngModel)]="tipoPlanoId" id="tipoPlanoId">
                                            <option *ngFor="let tipo of tipos" class="" value="{{tipo.id}}">{{ tipo.nome }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="text-muted">Modalidades&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                    <div class="box-para-selecionar">
                                        <ul class="lista">
                                            <li  *ngFor="let modalidade of modalidades" (click)="onAddModalidade(modalidade)" class="lista-modalidade" value="{{modalidade.id}}">
                                                {{ modalidade.nome }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="text-muted">Modalidades adicionadas</label>
                                    <div class="box-selecionadas">
                                        <ul class="lista">
                                            <li *ngFor="let modalidadeSelecionada of modalidadesSelecionadas" class="lista-modalidades-selecionadas" (click)="onRemoveModalidade(modalidadeSelecionada)"><button type="button" class="remove" aria-hidden="true">&times;</button>{{ modalidadeSelecionada }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-muted" for="mensalidade">Valor da mensalidade: &nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                <input type="text" 
                                class="form-control"
                                id="dValorMensalade"
                                formControlName="ValorMensal"
                                name="ValorMensal"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-muted" for="valor">Valor por visita &nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça.  !"></i></label>
                                <input type="text" 
                                class="form-control"
                                id="valor"
                                formControlName="ValorVisita"
                                name="ValorVisita"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="info-text">
                                Adicionar plano com este valora receber para cada visita em sua academia, 53,70% dos usuários acadastrados na plataforma estarão aptos a frequentar seu estabelecimento
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block btn-intro pull-left" data-dismiss="modal">Voltar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block pull-right btn-next" data-toggle="modal" data-target="#confirmacao" data-dismiss="modal"[disabled]="formDiferentes.invalid">Adicionar plano</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>O valor  diário escolhido pertence ao Plano 1 com a mensalidade de R$200,00.</p>
                <p>Deseja confirmar o plano?</p>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default btn-block btn-intro pull-left" data-dismiss="modal">Voltar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default btn-block pull-right btn-next" data-dismiss="modal" (click)="addPlano(formDiferentes.value)">Adicionar plano</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>