 body{
    background-color: #F2F2F2;
    
}
/*
body:before {
    position: absolute;
    top: 0;
    content: " ";
    margin: 2px;
    float: right;
    right: 0;
    width: 100%;
    height: 100%;
}
h3 {
    color: #F9A349;
    font-weight: 700;
    font-size: 20px;
}
img.logo {
    max-width: 200px;
}
.navbar {
    background: transparent;
    min-height: 115px;
    border-bottom: 6px solid;
    border-bottom-color: #3da5d1;  Old browsers 
    border-bottom-color: -moz-linear-gradient(left, #3da5d1 0%, #7e3d9b 100%);  FF3.6-15 
    border-bottom-color: -webkit-linear-gradient(left, #3da5d1 0%,#7e3d9b 100%); Chrome10-25,Safari5.1-6 
    border-bottom-color: linear-gradient(to right, #3da5d1 0%,#7e3d9b 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
} */
/* body.home:before {
    width: 100%;
    height: 100%;
    background-size: auto auto;
    background-size: 30% 50%;
    background-image: url("../assets/bg_top_right.png"), url("../assets/bg_top_right_crud.png");
    background-repeat: no-repeat;
    background-position-x: right, left;
    background-position-y: top, +165%;
} */
/* .steps {
    background: url('../assets/step.png') no-repeat;
    width: 100%;
    height: 150px;
    background-size: 80% 80%;
    background-position: center center;
} */