.panel{
    padding-bottom: 0!important;
}
.panel-body{
    height: 400px;
    padding: 5px!important;
    margin: 5px!important;
    /* text-overflow: ; */
    
    overflow: hidden;
    overflow-y: scroll;
}
.panel-footer{
    background-color: white;
    border-top: none;
}
/* .contrato p{
    width: 85%;
} */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.0);
	border-radius: 10px;
	background-color: #fff;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #ffff;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.0);
	background-color: #7E3A9A;
}
h4{
    font-weight: 700!important;
}
p{
    color: #333;
    font-weight: 300;
}
.material-icons{
    /* padding-bottom: -10px!important; */
}