
 <div class="col-md-12">
		<div class="steps"></div>
	</div> 
  <div class="container col-md-8 col-md-offset-2 text-left form-panel ">
	  <div class="intro-text">
		  <div class="panel panel-default padding-vertical">
			  <div class="panel-body">
				  <div class="row">
					<div class="col-md-10">
						<h3 class="modal-title">Dados Corporativos</h3>
					</div>
					<button class="btn btn-intro-sem-padding" routerLink="/cadastro">Editar</button>
				</div>
				  <div class="row">
					  <div class="col-md-6">
						  <h4>Nome da empresa</h4>
						  <p>Gym Benefit</p>
					  </div>
					  <div class="col-md-6">
						  <h4>Razão social</h4>
						  <p>Gym Benefit</p>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-md-6">
						  <h4>CNPJ</h4>
						  <p>0000000000000</p>
					  </div>
					  <div class="col-md-6">
						  <h4>Telefone</h4>
						  <p>(41)00000000</p>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-md-6">
						  <h4>Nome da empresa</h4>
						  <p>www.gymbenefit.com.br</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>Dados do Responsavel</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h4>Nome Completo</h4>
							<p>Jor-El</p>
						</div>
						<div class="col-md-6">
							<h4>Cargo</h4>
							<p>Personal Trainer</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h4>Telefone fixo</h4>
							<p>(41)00000000</p>
						</div>
						<div class="col-md-6">
							<h4>Celular</h4>
							<p>(41)00000000</p>
						</div>
					</div>
				  <div class="row">
					<div class="col-md-12">
						<h3>Endereço</h3>
					</div>
				  </div>
				  <div class="row">
					<div class="col-md-6">
						<h4>CEP</h4>
						<p>000000000000</p>
					</div>
					<div class="col-md-6">
						<h4>Endereço</h4>
						<p>Alameda Dr. Carlos de Carvalho</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Número</h4>
						<p>0000</p>
					</div>
					<div class="col-md-6">
						<h4>Complemento</h4>
						<p>7º andar</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Bairro</h4>
						<p>Centro</p>
					</div>
					<div class="col-md-6">
						<h4>Cidade</h4>
						<p>Curitiba</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>UF</h4>
						<p>PR</p>
					</div>
					<div class="col-md-6">
						<h4>País</h4>
						<p>Brasil</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Dados do Responsavel</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Banco</h4>
						<p>Banco 0000</p>
					</div>
					<div class="col-md-6">
						<h4>Agência</h4>
						<p>00000</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Conta</h4>
						<p>0000000000</p>
					</div>
					<div class="col-md-6">
						<h4>Dígito</h4>
						<p>00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container col-md-8 col-md-offset-2 text-left form-panel">
	<div class="intro-text">
		<div class="panel panel-default padding-vertical">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						<h3 class="modal-title">Detalhes da Academia</h3>
					</div>
					<button class="btn btn-intro-sem-padding" routerLink="/cadastro-2">Editar</button>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>Descrição</h4>
						<p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Mé faiz elementum girarzis, nisi eros vermeio. Paisis, filhis, espiritis santis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Modalidades</h4>
						<ul>
							<li>AB Class</li>
							<li>Abd</li>
							<li>bdominais</li>
							<li>bdominal Funcional</li>
							<li>ABExpress</li>
							<li>Abs</li>
							<li>Abs Pilates</li>
							<li>Acro Yoga</li>
							<li>Acrobacias</li>
							<li>Aero</li>
							<li>Aero Boxe</li>
							<li>Aero Dance</li>
							<li>Aero Jump</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Infraestrutura</h4>
						<ul>
							<li>AB Class</li>
							<li>Abd</li>
							<li>bdominais</li>
							<li>bdominal Funcional</li>
							<li>ABExpress</li>
							<li>Abs</li>
							<li>Abs Pilates</li>
							<li>Acro Yoga</li>
							<li>Acrobacias</li>
							<li>Aero</li>
							<li>Aero Boxe</li>
							<li>Aero Dance</li>
							<li>Aero Jump</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>Agenda de aulas</h4>
						<p><i class="fa fa-check" aria-hidden="true" style="color:#11C511; font-size:18px"></i>&nbsp; Enviado</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Fotos</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Logo</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Banner</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container col-md-8 col-md-offset-2 text-left form-panel">
	<div class="intro-text">
		<div class="panel panel-default padding-vertical">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						<h3 class="modal-title">Planos</h3>
					</div>
					<button class="btn btn-intro-sem-padding" routerLink="/cadastro-3">Editar</button>
				</div>
				<div class="row"> 
					<div class="well col-md-4">
						<h4>Modalidades</h4>
						<p>Abd</p>
						<p>Aero Jump</p>
						<p>Barre Fitness</p>
						<p>Boddy Attack</p>
						<br>
						<h4>Mensalidade</h4>
						<p>R$ 200,00</p>
						<br>
						<h4>Valor por visita</h4>
						<p>R$ 15,00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="col-md-8 col-md-offset-2 mb-80" style="padding: 0 50px">
	<div class="row">
		<div class="col-md-6">
			<a routerLink="/cadastro" class="btn btn-block btn-intro">Voltar</a>
		</div>
		<div class="col-md-6">
			<a routerLink="/contrato" class="btn btn-block btn-next">Avançar</a>
		</div>
	</div>	
</div>


<div class="modal fade" id="editCadastro1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<p>One fine body&hellip;</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-intro-sem-padding">Save changes</button>
		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editCadastro2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<p>One fine body&hellip;</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-intro-sem-padding">Save changes</button>
		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editCadastro3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<p>One fine body&hellip;</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-intro-sem-padding">Save changes</button>
		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
